/* make headings smaller
we have to start at h1 because of the table of contents
h1 here is like h3 normally, h2 like h4 */
div.faq h1 {
  font-size:1.6875rem
}
div.faq h2 {
  font-size:1.4375rem
}

table {
  border: none;
  border-collapse: collapse;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}
table tr td, table thead tr th {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.jpg') no-repeat fixed center center / cover #000;
  color: rgb(155, 155, 155);
  font-family: 'PT Sans', sans-serif;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
