<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=BGGj7qk0Kl">
    <meta name="theme-color" content="#111111">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=BGGj7qk0Kl">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=BGGj7qk0Kl">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=BGGj7qk0Kl" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png?v=BGGj7qk0Kl" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=BGGj7qk0Kl" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=BGGj7qk0Kl" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=BGGj7qk0Kl" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=BGGj7qk0Kl">
    <link rel="shortcut icon" href="/favicon.ico?v=BGGj7qk0Kl">

    <!-- YouTube gaming page info -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type":"VideoGame",
      "name":[
        {
          "@language":"en",
          "@value":"Xonotic"
        }
      ],
      "description":[
        {
          "@language":"en",
          "@value":"Xonotic is an addictive, arena-style first person shooter with crisp movement and a wide array of weapons. It combines intuitive mechanics with in-your-face action to elevate your heart rate."
        }
      ],
      "genre":[
        "First-person shooter"
      ],
      "url":"http://www.xonotic.org",
      "image":"http://xonotic.org/static/img/poster.jpg",
      "screenshot":"http://xonotic.org/static/img/backgroundart.jpg",
      "sameAs": [
        "https://en.wikipedia.org/wiki/Xonotic",
        "https://www.youtube.com/user/xonotic",
        "https://www.youtube.com/user/antibodyxon"
      ],
      "trailer":{
        "@type":"VideoObject",
        "url":"https://www.youtube.com/watch?v=_thowri7mmE",
        "inLanguage":"en"
      },
      "exampleOfWork":[
        {
          "@type":"VideoGame",
          "gamePlatform":[
            "https://en.wikipedia.org/wiki/Windows_7",
            "https://en.wikipedia.org/wiki/Windows_8",
            "https://en.wikipedia.org/wiki/Linux",
            "https://en.wikipedia.org/wiki/OS_X_Yosemite",
            "https://en.wikipedia.org/wiki/OS_X_Mavericks"
          ]
        }
      ]
    }
    </script>

    {{ if .Title }}
    <title> {{ .Title }} - Xonotic</title>
    {{ else }}
    <title>Xonotic: The Free and Fast Arena Shooter</title>
    {{ end }}

    {{ partial "includes.html" . }}

    {{ if eq .Title "FAQ" }}
        <link rel="stylesheet" href="/static/css/faq.css" />
    {{ end }}
  </head>

  <body>
    {{ partial "nav.html" . }}
