{{ partial "header.html" . }}

<div class="row">
  <div class="small-12 columns text-center">
    <h1>Oops!</h1> 
    <h3>We couldn't find the page you were looking for. Try a search instead!</h3>

    <iframe src="http://duckduckgo.com/search.html?site=http://www.xonotic.org&prefill=Search via DuckDuckGo&focus=yes" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>

  </div>
</div>

{{ partial "footer.html" . }}
