{{ partial "header.html" . }}

<!-- DOWNLOAD SECTION -->
<section class="section-dl text-center">
  <div class="row">
    <div class="small-12 columns">
      <img src="/static/img/xonotic-logo.png">
      <h2 class="slogan">The Free and Fast Arena Shooter</h2>
      <div id="download-button">
        <a href="http://dl.xonotic.org/xonotic-0.8.2.zip" class="button round alert">
          <i class="fa fa-download"></i> Download<br />
          <em>v0.8.2 for Linux, Windows, and Mac</em>
        </a>

        <br />

        <a href="faq/#install">No installation needed</a>!

        <br />

        <a href="/chat"
           title="IRC Webchat"><i class="fa fa-comment"></i></a> Questions? <a
           href="/chat"
           title="IRC Webchat">Live chat</a> with us!
      </div>

    </div>
  </div>

</section>

<!-- SUMMARY SECTION -->
<section class="section-summary pad text-center">
  <div class="row">
    <div class="small-12 columns">
      <h3>Xonotic is an addictive, arena-style first person shooter with crisp
          movement and a wide array of weapons. It combines intuitive mechanics
          with in-your-face action to elevate your heart rate. Xonotic
          is and <em>will always be</em> free-to-play. It is available
          under the <a href="https://www.gnu.org/copyleft/" title="copyleft licensing">copyleft</a>-style
          <a href="http://www.gnu.org/licenses/gpl-2.0.html" title="The GPLv2 license">GPLv2</a> license.</h3>
    </div>
  </div>

  <div class="screenshots row text-center">
    <div class="small-3 columns">
      <a class="th" href="/static/img/screenshot1.jpg">
        <img src="/static/img/screenshot1-th.jpg" alt="Thumbnail 1">
      </a>
    </div>

    <div class="small-3 columns">
      <a class="th" href="/static/img/screenshot2.jpg">
        <img src="/static/img/screenshot2-th.jpg" alt="Thumbnail 2">
      </a>
    </div>

    <div class="small-3 columns">
      <a class="th" href="/static/img/screenshot3.jpg">
        <img src="/static/img/screenshot3-th.jpg" alt="Thumbnail 3">
      </a>
    </div>

    <div class="small-3 columns">
      <a class="th" href="/static/img/screenshot4.jpg">
        <img src="/static/img/screenshot4-th.jpg" alt="Thumbnail 4">
      </a>
    </div>

  </div>

</section>

<!-- WEAPON SECTION -->
<section class="section-weapon pad">
  <div class="row">
    <div class="small-12 medium-6 columns">
      {{ partial "feature-weapons-text.html" }}
    </div>

    <div class="small-12 medium-6 columns">
      {{ partial "feature-weapons-image.html" }}
    </div>

  </div>
</section>

<!-- GAME MODE SECTION -->
<section class="section-game-mode pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      {{ partial "feature-game-modes-image.html" }}
    </div>

    <div class="small-12 medium-6 columns">
      {{ partial "feature-game-modes-text.html" }}
    </div>

  </div>
</section>

<!-- MAPS SECTION -->
<section class="section-maps pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      {{ partial "feature-maps-text.html" }}
    </div>

    <div class="small-12 medium-6 columns">
      {{ partial "feature-maps-image.html" }}
    </div>

  </div>
</section>

<!-- STATS SECTION -->
<section class="section-stats pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      {{ partial "feature-stats-image.html" }}
    </div>

    <div class="small-12 medium-6 columns">
      {{ partial "feature-stats-text.html" }}
    </div>

  </div>
</section>

<!-- HUD SECTION -->
<section class="section-hud pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      {{ partial "feature-hud-text.html" }}
    </div>

    <div class="small-12 medium-6 columns">
      {{ partial "feature-hud-image.html" }}
    </div>

  </div>
</section>

<!-- COMPETITIVE/CASUAL SECTION -->
<section class="section-competitive-casual pad">
  <div class="row">

    <div class="small-12 medium-6 columns">
      {{ partial "feature-casual-competitive-image.html" }}
    </div>

    <div class="small-12 medium-6 columns">
      {{ partial "feature-casual-competitive-text.html" }}
    </div>

  </div>
</section>

<!-- LINKS SECTION -->
<section class="section-links pad text-center">
  <div class="row">

    <div class="small-12 columns">
      <h3>When We're Not Fragging, We're Social!</h3>
      <ul>
        <li><a href="/chat" title="IRC Webchat"><i class="fa fa-comment"></i></a></li>
        <li><a href="https://gitlab.com/groups/xonotic" title="Gitlab"><i class="fa fa-git-square"></i></a></li>
        <li><a href="http://www.facebook.com/pages/Xonotic/106450756044750" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="http://twitter.com/xonotic" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="http://www.youtube.com/xonotic" title="YouTube"><i class="fa fa-youtube-square"></i></a></li>
        <li><a href="https://www.reddit.com/r/xonotic/" title="Reddit"><i class="fa fa-reddit-square"></i></a></li>
        <li><a href="/index.xml" title="RSS"><i class="fa fa-rss-square"></i></a></li>
      </ul>
    </div>

  </div>
</section>

{{ partial "footer.html" . }}
